# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Source Textbook PDFs (exceeds GitHub 100MB limit & copyrighted)
Source/
*.pdf

# Node / Web Build
node_modules/
dist/
.env
.env.local
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
